__pycache__
.idea
Mate.egg-info
.DS_Store
.vscode/ipch
.progress-estimator
*.log
*.log.json
package-lock.json
shrinkwrap.yaml
*.tgz
bundle.js
*.bundle.js
build-info.json
node_modules
coverage
attic
build
dist
tests/cert/src/UIPages/bunnyEffect/assets
tests/cert/src/UIPages/instancedEffect/assets
tests/cert/src/UIPages/mixedBag/assets
